* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


input {
    display: block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    width: 185px;
    padding: 5px;
    color: white;
    background-color: #4169e1; 
    border: none;
}

button:hover {
    background-color: #4e76ee; 
}